/caches
/npl_packages/
/temp/
/worlds/
/auto_update_log.txt
/log.txt
/assets_manifest.txt
/PWD
/database
/Database
/version.txt
/readme.txt
/temp.bat
/temp.bat.txt
/tempAdmin.bat
/copyright.txt
/Screen Shots
/apps
*.dmp