<html>
<body>
<pe:mcml>
    <script refresh="false" type="text/npl" src="SetCoins.lua">
        SetCoins = NPL.load('./SetCoins.lua')
        Utils = NPL.load('(gl)Mod/WorldShare/helper/Utils.lua')

        SetCoins:SetPage()

        function get_window_style()
            return Utils.FixCenter(360, 232)
        end

        function close()

        end
    </script>
    <div width="100%" height="100%">
            <aries:window
            class="default"
            mode="thin"
            width="360"
            height="232"
            style="<%=get_window_style()%>"
            title='<%=L"金币设置" %>'
            onclose="close()">
            Set Coins
            </aries:window>
    </div>
</pe:mcml>
</body>
</html>