<html>
<body>
<pe:mcml>
    <script refresh="false" type="text/npl" src="Password.lua">
        Password = NPL.load('./Password.lua')
        Utils = NPL.load('(gl)Mod/WorldShare/helper/Utils.lua')

        Password:SetPage()

        function get_window_style()
            return Utils.FixCenter(360, 232)
        end

        function close()
            Password:ClosePage()
        end

        function confirm()
            Password:Confirm()
        end

        function enter_password(index)

        end
    </script>
    <style type="text/mcss">
        {
            area = {
                padding = 10
            },
            enter = {
                width = 340,
                height = 120,
                ['padding-top'] = 25,
                ['padding-left'] = 50
            },
            password = {
                width = 43,
                height = 43,
                ['margin-left'] = 10
            }
        }
    </style>
    <div width="100%" height="100%">
        <aries:window
        class="default"
        mode="thin"
        width="360"
        height="232"
        style="<%=get_window_style()%>"
        title='<%=L"设置密码" %>'
        onclose="close()">
            <div class="area">
                <div class="enter">
                    <div>
                        <input name="password" onkeyup="" class="password" type="password" value="1" />
                    </div>
                    <div>
                        <input type="button" class="mc_light_grey_button_with_fillet" value="确定" onclick="confirm()" />
                    </div>
                </div>
                <div>
                    <div style="font-weight:bold;font-size:14px;base-font-size:14px;">温馨提示</div>
                    <div>
                        您在设置金币使用数量需要使用该密码，请妥善保管。
                    </div>
                </div>
            </div>
        </aries:window>
    </div>
</pe:mcml>
</body>
</html>