<html>
<body>
<pe:mcml>
    <script refresh="false" type="text/npl" src="SetCoins.lua">
        <![CDATA[
            TimeUp = NPL.load('./TimeUp.lua')
            Utils = NPL.load('(gl)Mod/WorldShare/helper/Utils.lua')

            TimeUp:SetPage()

            function get_window_style()
                return Utils.FixCenter(360, 232)
            end

            function close()
                TimeUp:ClosePage()
            end
        ]]>
    </script>
    <style type="text/scss">
        {
            strip = {
                height = 40,
                padding = 10
            },
            strip_title = {
                float = 'left'
            },
            balance = {
                float = 'left',
                ['margin-left'] = 10
            },
            close = {
                float = 'left',
                ['margin-left'] = 10
            },
            close_button = {
                background = 'Texture/Aries/Creator/Theme/GameCommonIcon_32bits.png#363 59 26 26:7 7 7 7',
                width = 26,
                height = 26
            },
            area = {
                ['padding-top'] = 16,
                ['padding-left'] = 13,
                ['padding-right'] = 13,
            }
        }
    </style>
    <div width="100%" height="100%">
        <div class="default" width="273" height="244" style="<%= container() %>">
            <div class="strip">
                <div class="strip_title">时间到了</div>
                <div class="close">
                    <input onclick="close()" class="close_button" type="button"/>
                </div>
            </div>
            <div style="height:1px;" width="100%" class="mc_line"></div>
            <div class="area">
            </div>
        </div>
    </div>
</pe:mcml>
</body>
</html>